body {
  font-family: 'Lato', sans-serif;
  background: #252525;
  padding: 1rem;

  background-image: url("carbon-fibre-v2.png");

}

.bg-dark {
  background-image: url("cross-stripes.png");
}




.fill-white {
  fill: silver;
}

a {
  color: #3fe3e8;
}
a:hover {
  color: #d5fafb;
}
